{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/connexion/connexion.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('script/connexion/login.js') }}"></script>
    <script src="{{ asset('script/generic/formGenericFunction.js') }}"></script>
{% endblock %}

{% block body %}
    {% block navbar %}
    {% endblock %}

    <div class="navbar navbar-replace top">
        <div class="back-arrow-sidebar"></div>
        <h1 class="navbar-replace-title">Connexion</h1>
        <div class="back-arrow-sidebar"></div>
    </div>

    <div class="flex-vertical flex-centered main-block show-container">
        <h2 class="title">
            Se connecter
        </h2>
        <div>
            {% if error %}
                <div class="form-group flex-horizontal flex-centered">
                    <div class="message message-incorrect">
                        Login ou mot de passe incorrect
                    </div>
                </div>
            {% endif %}
        </div>
        <form action="" class="flex-vertical flex-centered" method="post" id="form-login" onsubmit="disableButton()">
            <img src="{{ asset('img/icons/user.png') }}" id="img-profile" alt="">
            <div class="block-form-group">
                <div class="form-group">
                    <label for="login" class="input-label">Login</label>
                    <input type="text" name="login" class="form-input" value="{{ lastLogin }}">
                </div>
                <div class="form-group">
                    <label for="password" class="input-label">Mot De Passe</label>
                    <input type="password" name="password" class="form-input">
                </div>
            </div>
            <div class="form-group flex-centered">
                <button type="submit" class="btn btn-primary disableable" onclick="return verifyInputLogin()">
                    Se Connecter
                </button>
            </div>
        </form>
    </div>


    <div class="flex-vertical flex-centered">
        <div class="flex-vertical flex-centered main-block">

        </div>
    </div>
{% endblock %}